<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Guestbook</title>
    </head>
    <body>
        <div id="container">

            <section id="message-formular">
                <form action="" method="post">
                    {% csrf_token %}
                    <ul>
                        <li>Your (nick)name<span class="mandatory">*</span>:</li>
                        <li><input type="text" name="nickname" /></li>
                        <li>Your e-mail:</li>
                        <li><input type="text" name="email" /></li>
                        <li>Your message:<span class="mandatory">*</span>:</li>
                        <li><textarea name="message"></textarea></li>
                        <li><input type="submit" value="Send" /></li>
                    </ul>
                </form>
            </section>

            <section id="latest-messages">
                {% for entry in entries %}
                <div class="entry">
                    <h3><a href="mailto:{{ entry.email }}">{{ entry.nickname }}</a></h3>
                    <span class="date">{{ entry.postdate }}</span>
                    <div class="messagebody">{{ entry.message }}</div>
                </div>
                {% endfor %}
            </section>

        </div>
    </body>
</html>