{% load static %}<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Guestbook</title>
        <script src="{% static 'main.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'static.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div id="container">

            <h1>Welcome to My Guestbook</h1>

            <section id="message-formular">
                <form action="" method="post">
                    {% csrf_token %}
                    <ul>
                        <li class="caption">Your (nick)name<span class="mandatory">*</span></li>
                        <li class="field"><input type="text" name="nickname" /></li>
                        <li class="caption">Your e-mail<span class="mandatory">*</span></li>
                        <li class="field"><input type="text" name="email" /></li>
                        <li class="caption">Your message<span class="mandatory">*</span></li>
                        <li class="field"><textarea name="message"></textarea></li>
                        <li class="submitter"><input type="submit" value="Send" /></li>
                    </ul>
                </form>
            </section>

            <section id="latest-messages">
                {% if entries %}
                    {% for entry in entries %}
                    <div class="entry {% cycle 'odd' 'even' %}">
                        <h3><a href="mailto:{{ entry.email }}">{{ entry.nickname }}</a></h3>
                        <span class="date">{{ entry.postdate }}</span>
                        <div class="messagebody">{{ entry.message }}</div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="no-entries">
                        <i>No entries yet</i>
                    </div>
                {% endif %}
            </section>

        </div>
    </body>

</html>